<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fileMapper">

	<resultMap type="map" id="fileMap">
		<result column="FILE_SEQ" property="file_seq"/>
		<result column="REAL_NAME" property="real_name"/>
		<result column="SAVE_NAME" property="save_name"/>
		<result column="REG_DATE" property="reg_date"/>
		<result column="SAVE_PATH" property="save_path"/>
		<result column="LIST_SEQ" property="list_seq"/>
	</resultMap>
	
	<insert id="fileInsert">
		insert into file_study_table values(
		(select nvl(max(file_seq),0)+1 from file_study_table),
		#{real_name},
		#{save_name},
		sysdate,
		#{save_path},
		#{seq}
		)
	</insert>
</mapper>